/* Overall rules */
.blueprint {
	display: none;
}

html,body {
	position: relative;

	margin: 0;
	padding: 0;
	border-spacing: 0;

	height: 100%;
	width: 100%;

	font-family: 'Avenir Next';
	font-weight: normal;
	font-size: 16px;

	-webkit-user-select: none;
}
.pure-g [class*="pure-u"] {
	font-family: 'Avenir Next';
	font-weight: normal;
}
::-webkit-scrollbar {
	display: none;
}
.body {
	position: relative;

	height: 100%;
	/*-webkit-box-sizing:border-box;*/
	width: 100%;
}

/* Sidebar */
.sidebar-container {
	position: relative;

	background-color: #FFFFFF;
	width: 275px;
	z-index: 5;
	height: 100%;

	-webkit-box-sizing:border-box;
	border-right: 0.5px solid rgba(0,0,0,0.07);
	box-shadow: 1px 1px 20px rgba(0,0,0,.04)
}
.sidebar {
	margin-top: 6px;
}
.status-container {
	padding: 0 17px;
}
.progress-container {
	margin-bottom: 4px;
}
.logo-container {
	padding: 30px 0 30px 40px;
}
.logo {
	width: 160px;
	display: block;
	margin: 0;
}
.statusbar {
	position: absolute;
	bottom: 17px;
	width: 100%;
}
.sidebar-button {
	display: flex;
	font-size: 16px;
	align-items: center;
	position: relative;
	height: 56px;

	-webkit-box-sizing:border-box;

	color: #3D4B66;
	margin-left: 3px;
	padding-left: 16px;
}
.sidebar-button:hover {
	cursor: pointer;
}
.sidebar-button:active {
}
.sidebar-button.current {
	cursor: default;
	border-left: 3px solid #0043A4;
	margin-left: 0;
}

.plugin-button-image {
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  padding-left: 16px;
}
.wallet-button-image {
	background-image: url('../plugins/Wallet/assets/button-inactive.png');
	width: 55px;
  height: 21px;
}
.about-button-image {
	background-image: url('../plugins/About/assets/button-inactive.png');
	width: 55px;
  height: 21px;
}
.button.current .wallet-button-image, .button:hover .wallet-button-image {
	background-image: url('../plugins/Wallet/assets/button-active.png');
	width: 55px;
  height: 55px;
}
.button.current .about-button-image, .button:hover .about-button-image {
	background-image: url('../plugins/About/assets/button-active.png');
	width: 55px;
  height: 55px;
}
@keyframes fadeout {
	from { opacity: default; }
	to   { opacity: 0; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: default; }
}
.button .icon {
	max-height: 30%;
	padding-left: 16px;
}
.button .text {
	padding: 4px;
}

/* Mainbar */
#mainbar {
	transition: all .25s;
	-webkit-animation: ease-in fadein 1.4s;
	flex-grow: 1;
	height: 100%;
	background-color: #ffffff;
	position: relative;
}
#mainbar.transition {
	transition: all .25s;
	opacity: 0;
}
.webview {
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0;
	opacity: 0;
	z-index: -1;
}
.webview.current {
	opacity: 1;
	z-index: 0;
}

/* Tooltip Bubble */
#tooltip {
	display: inline-block;
	display: none;
	position: absolute;
	padding: 8px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.75);
}
#tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.75);
	border-width: 8px;
	margin-left: -8px;
}

/* Notifications */
.notification-container {
	position: fixed;
	right: 40px;
	bottom: 40px;
}
.notification {
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	margin-top: 20px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-transition: box-shadow 2s;
	transition: box-shadow 0.5s;
}
.notification .icon {
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 48px;
	text-align: center;
	color: #00CBA0;
	background-color: #f5f5f5;
	border-right: 1px solid #eeeeee;
}
.notification .content {
	display: inline-block;
	padding: 14px;
	vertical-align: top;
	width: 300px;
	height: 52px;
	font-size: 18px;
	color: #757575;
}
.notification.hoverable:hover {
	cursor: pointer;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}
.notification.type-error .icon, .notification.type-exit .icon {
	color: #E57373;
	background-color: #FFCDD2;
}
.notification.type-success .icon {
	color: #81C784;
	background-color: #C8E6C9;
}

/* Misc */
#errorlog {
	display: none;
	color: #000;
	font-size: 20px;
	resize: none;
	overflow: auto;
	width: 700px;
	height: 500px;
	border: none;
	outline: none;
	box-shadow: none;
}

.overlay {
	display: inline-flex;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;

	text-align: center;
	font-size: 35px;
	background-color: #fff;
	opacity: .5;
}
.centered {
	opacity: 1;
	color: #00CBA0;
	margin: auto;
}
.centered p {
	margin: 0;
}

.button:active {
	transform: translateX(2px) translateY(2px);
}
