# Generated Items
release
tools
node_modules
npm-debug.log
config.json
Sentient
doc/Sentient-UI
errors.log
dist
sen-testing
dev-app-update.yml

#VSCode
.vscode

# Vim
*.sw?

# IntelliJ
.idea
*.iml

# OSX
.DS_STORE
